@media (min-width: 801px) {
  /* SideBar */
    * {
      margin: 0;
      padding: 0;
    }
  
    html, body {
        height: 100%;
        width: 100%;
        background: linear-gradient(to top in srgb, crimson, blue);
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
  
     #root {
        min-height: 100%;
        min-width: 100%;
    }

    .general-div {
      min-height: 100%;
      min-width: 100%;
    }
  
    .header {
        height: 100%;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        overflow: hidden;
        color: blue;
        background-color: black;
        border-top-right-radius: 1%;
        border-bottom-right-radius: 1%;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        display: flex;
        column-gap: 1vw;
        position: fixed;
        width: 25vw;
        z-index: 5;
        padding-top: 1%;
        gap: 1vh 1vh;
    }
  
    .menu-img {
        margin-top: 1%;
        margin-left: 1%;
        width: 4rem;
        height: 4rem;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        border: solid 0.25vw;
        border-color:mediumblue;
        border-radius: 50%;
        background-color: rgb(156, 156, 245);
        z-index: 5;
    }
  
    a {
      color:rgba(198, 250, 250);
      margin: 0;
      padding: 0;
      text-decoration: none;
      margin-left: 4%;
    }

    .header-label {
      width: 90%;
      height: 1.5em;
      background-color: rgba(68, 67, 67, 0.4);
      border-radius: 1%;
      word-wrap: break-word;
      font-size: calc(0.75em + 0.75rem);
    }

    @media (prefers-reduced-motion: no-preference) {
      .rei-spin {
        animation: App-logo-spin infinite 10s linear;
        position: absolute;
        right: 4%;
        top: 1%;
        border-radius: 100%;
        width: 4%;
        
      }
    }
    
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  
    /* Main */
    #frame {
      margin: 0 auto;
      width: 60vw;
      height: 100vh;
      text-align: center;
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
      box-shadow: -1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.5), 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.4);
      padding-bottom: 2%;
      flex-grow: 1;
      }
  
    #frame input[type=radio] {
      display: none;
    }
  
    #frame label {
      cursor: pointer;
      text-decoration: none;
    }
  
    #slides {
      padding: 0.5vw;
      position: relative;
      border-radius: 1%;
      min-width: 50vw;
    }
  
    #overflow {
      width: 100%;
      overflow: hidden;
      border-radius: 1%;
    }
  
    #frame1:checked~#slides .inner {
      margin-left: 0;
      border-radius: 1%;
    }
  
    #frame2:checked~#slides .inner {
      margin-left: -100%;
      border-radius: 1%;
    }
  
    #frame3:checked~#slides .inner {
      margin-left: -200%;
      border-radius: 1%;
    }
  
    #slides .inner {
      transition: margin-left 800ms 
          cubic-bezier(0.770, 0.000, 0.175, 1.000);
      width: 400%;
      line-height: 0;
      height: 20rem;
      position: static;
      border-radius: 1%;
    }
  
    #slides .frame {
      width: 25%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: end;
      height: 100%;
      color: #FFF;
    }
  
    #slides .frame_1 {
      background-image: url(./Icons_and_photos/firstVisual.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1%;
    }
  
    #slides .frame_2 {
      background-image: url(./Icons_and_photos/secondVisual.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1%;
    }
  
    #slides .frame_3 {
    background-image: url(./Icons_and_photos/thirdVisual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1%
    }
  
    #controls {
      margin-top: -12.5rem;
      width: 100%;
      height: 10rem;
      position: relative;
    }
  
    #controls label {
      transition: opacity 0.2s ease-out;
      display: none;
      width: 10%;
      height: 100%;
      opacity: .4;
    }
  
  
    #controls label:hover {
      opacity: 1;
    }
  
    #frame1:checked~#controls label:nth-child(2),
    #frame2:checked~#controls label:nth-child(3),
    #frame3:checked~#controls label:nth-child(1), 
    #frame4:checked~#controls label:nth-child(2) {
      float: right;
      display: block;
      background: url(./Icons_and_photos/generalRightPhotos.svg) no-repeat;
      background-size: contain;
      position: relative;
    }
  
    #frame1:checked~#controls label:nth-last-child(2),
    #frame2:checked~#controls label:nth-last-child(1),
    #frame3:checked~#controls label:nth-last-child(3), 
    #frame4:checked~#controls label:nth-last-child(2) {
      float: left;
      display: block;
      background: url(./Icons_and_photos/generalLeftPhotos.svg) no-repeat;
      background-size: contain;
    }
  
    #bullets {
      margin: 10% 0 0;
      text-align: center;
    }
  
    #bullets label {
      display: inline-block;
      width: 1vw;
      height: 1vw;
      border-radius: 100%;
      background-color: wheat;
      margin: 0 1vw;
    }
  
    #frame1:checked~#bullets label:nth-child(1),
    #frame2:checked~#bullets label:nth-child(2),
    #frame3:checked~#bullets label:nth-child(3) {
      background: #444;
    }
  
    @media screen and (max-width: 900px) {
      #frame1:checked~#controls label:nth-child(2),
      #frame2:checked~#controls label:nth-child(3),
      #frame3:checked~#controls label:nth-child(1),
      #frame4:checked~#controls label:nth-child(2),
      #frame1:checked~#controls label:nth-last-child(2),
      #frame2:checked~#controls label:nth-last-child(1),
      #frame3:checked~#controls label:nth-last-child(3),
      #frame4:checked~#controls label:nth-last-child(2) {
          margin: 0;
          
      }
      #slides {
          max-width: calc(100% - 140px);
          margin: 0 auto;
      }
    }
  
    .container-h2 {
      margin: 0;
      padding: 0;
      margin-bottom: 10%;
    }
  
    .main-h2 {
      margin: 0;
      padding: 0;
      color:rgba(198, 250, 250);
    }
  
    .main-h2-name {
      margin: 0;
      padding: 0;
      color: pink;
    }
  
    .frame-content {
      color:crimson;
      word-wrap: break-word;
      font-size: 100%;
      margin-bottom: 5%;
      overflow: hidden;
      word-wrap: break-word;
      line-height: 1.2;
    }
  
    .main-sentence {
      margin: 0;
      padding: 0;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    .main-sentence p {
      color:rgba(198, 250, 250);
      margin: 0;
      padding: 0;
      margin: 1%;
      width: 100%;
      font-size: large;
    }
  
    .main-hi {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }
  
    .main-hi-img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      border-radius: 1%;
      margin-bottom: 5%;
    }
  
    .main-hi-p {
      color:rgba(198, 250, 250);
      margin: 0;
      padding: 0;
      padding-bottom: 5%;
      font-size: larger;
    }
  
    .main-hi-p-a {
      color: pink;
      margin: 0;
      padding: 0;
      text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    }
    /* footer */
    .footer {
      margin: 0;
      padding: 0;
      background-color: black;
      border-top-left-radius: 1%;
      border-top-right-radius: 1%;
      box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.5), 1vw -1vw 1vw 1vw rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      width: 100%;
      height: 25%
    }
  
    .footer-content {
      margin: 0;
      padding: 0;
      display: flex;
      margin-left: 10%;
    }
  
    .footer-img {
      margin: 0;
      padding: 0;
      width: 5%;
      height: 50%;
      border-radius: 10%;
      margin-right: 5%;
    }
  
    .footer-div-container-p {
      margin: 0;
      padding: 0;
      color:rgba(198, 250, 250);
      font-size: smaller;
    }
  
    .footer-div-container-p p {
      margin: 1;
      padding: 1;
    }
  
    .footer-a {
      color: pink;
      margin: 0;
      padding: 0;
      text-shadow: 1px 1px 1px red, 0 0 1em blue, 0 0 0.2em blue;
    }
  
  }